/* UNIVERSAL STYLING */
* {
  padding: 0;
  margin: 0;
}

/* BODY STYLING */

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  width: 100%;
}

/* HEADER STYLING */

header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

header #highscore {
  margin-left: 10px;
}

header #timer {
  margin-right: 10px;
}

/* START QUIZ CONTAINER STYLING */

#quiz-intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

#quiz-intro-container h1,
#quiz-intro-container p,
#quiz-intro-container form input {
  width: 100%;
}

#quiz-intro-container h1 {
  text-align: center;
}

#quiz-intro-container p {
  margin-top: 50px;
  text-align: center;
}

#quiz-intro-container form input {
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #007bff;
  color: white;
}

#quiz-intro-container form input:hover {
  background-color: #0056b3;
}
